
    <h3 class="font-monospace">{{ event.name }}</h3>
    <p class="lead mb-5" data-time="{{ event.when }}" id="time">Time: {{ event.when|date}} </p>
    <div id="time-box">Time left: </div>



    {% if room_count != 0 %}

    <h4>{{ room_count }} rooms available </h4>
    <a href="{% url 'create-room' %}">Create Room</a>

    {% for room in rooms %}
    
        <div class="mb-4">
            {% if request.user == room.host %}

                <a href="{% url 'update-room' room.pk %}">Update Room</a>
                <a href="{% url 'delete-room' room.pk %}" class="btn btn-danger">Delete Room</a>
            
            {% endif %}
            <span><a href="{% url 'profile' room.host.pk %}">@{{ room.host.username }}</a></span>
            <h5>{{ room.pk }} - <a href="{% url 'room' room.pk %}">{{ room.name }}</a></h5>
            <small>
                {{ room.topic.name }}
            </small>
        </div>
        <hr>
    

    {% endfor %}

    {% else %}
        <h2>Hazirshe magliwmat joq</h2>

    {% endif %}


    <script>
        const time = document.getElementById('time')
        const time_box = document.getElementById('time-box')

        const EventDate = Date.parse(time.textContent) //milisecond
        // console.log(EventDate)

        setInterval(()=>{
            const now = new Date().getTime() //also miliseconds
            // console.log(now)

            const different = EventDate - now
            // console.log(different)

            const d = Math.floor(EventDate/ (1000 * 60 * 60 * 24) - (now / (1000 * 60 * 60 * 24)))
            
            const h = Math.floor((EventDate/ (1000 * 60 * 60) - (now / (1000 * 60 * 60))) % 24)
            const m = Math.floor((EventDate/ (1000 * 60) - (now / (1000 * 60))) % 60)
            const s = Math.floor((EventDate/ (1000) - (now / (1000))) % 60)


            if (different > 0){
            time_box.innerHTML = d + 'days; ' + h + ' hour; ' + m + 'minutes; ' + s + 'seconds'
            
        }
        }, 1000)

        

        

        
    </script>